<!-- <div class="container">
  <div class="row">
    <div class="col-3" *ngFor="let item of newsResults">
      <img src="{{ item.urlToImage }}" alt="{{ item.title }}" />
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
      <a href="{{ item.url }}"></a>
    </div>
  </div>
</div>
 -->

<app-spinner></app-spinner>
<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="0"
  (scrolled)="onScroll()"
>
  <app-news [newsResults]="newsResults" [title]="title"></app-news>
</div>
